
@{
    ViewData["Title"] = "RegisterCompetition";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<head>
    <link href="~/css/Home/Login.css" rel="stylesheet" />
</head>
<div id="RegCompetForm">
    <script type="text/babel" src="~/js/RegCompet/Index.jsx" asp-append-version="true"></script>
</div>
