#LoginErrorPageDiv {
    width: 70%;
    margin-left: 15%;
    padding: 2% 2% 2% 2%;
    box-shadow: 0 0 10px #7f7f7f;
    position: absolute;
    top: 30%;
    text-align: center;
}
#MasterHeader{
    display: none;
}