@using System.Security.Claims
@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<script type="text/babel" src="/js/__Layout/AdminMasterHeader.jsx" asp-append-version="true"></script>
<div id="AdminPanelRootDiv">
    <script type="text/babel" src="~/js/Home/AdminPanel.jsx" asp-append-version="true"></script>
</div>