
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<div id="LoginPageForm">
    <script type="text/babel" src="~/js/Home/LoginPageScript.jsx" asp-append-version="true"></script>
</div>