
@{
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginError</title>
    <link href="~/css/Home/LoginErrorStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="LoginErrorPageDiv">
        <h2>Неверный логин или пароль</h2>
        <h3>Попробуйте снова</h3>
        <a href="/Home/Login"><input class="btn btn-primary" type="button" value="Ещё раз" /></a>
    </div>
</body>
</html>
