@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<head>
    <link href="~/css/Home/Login.css" rel="stylesheet" />
</head>
<div id="LoginPageForm">
    <script type="text/babel" src="~/js/Home/LoginPageScript.jsx" asp-append-version="true"></script>
</div>