
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<head>
    <link href="~/css/Home/Login.css" rel="stylesheet" />
</head>
<div id="RegisterForm">
    <script type="text/babel" src="~/js/Home/Register.jsx" asp-append-version="true">
    </script>
</div>
