@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<script type="text/babel" src="/js/__Layout/AdminMasterHeader.jsx" asp-append-version="true"></script>
<div id="root">
    <script type="text/babel" src="/js/Result/_changeCircle.jsx"  asp-append-version="true"></script>
</div>