@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<script type="text/babel" src="/js/__Layout/AdminMasterHeader.jsx" asp-append-version="true"></script>
<head>
    <link href="~/css/Result/MakeChanges.css" rel="stylesheet" />
</head>
<div id="MakeChangesRootDiv">
    <script type="text/babel" src="~/js/Result/MakeChanges.jsx" asp-append-version="true"></script>
</div>